.bg-navbar {
    background-color: #6590ee;
}

.navbar-light .navbar-brand {
    color: #fff;
}

/* ページ全体のスタイリング */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* ヘッダースタイリング */
h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/* リスト全体のスタイル */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

/* 映画タイトルのスタイル */
li.title {
    font-size: 18px;
    font-weight: bold;
}

/* 画像のスタイル */
li img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 画像のスタイル */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* テーブル全体のスタイル */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button:hover {
    background-color: #0056b3;
}

/* フォームスタイリング */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form input[type="radio"] {
    margin-right: 5px;
}

/* ボタンスタイリング */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

td button {
    white-space: nowrap;
}

form div {
    margin-bottom: 20px;
}

/* エラーメッセージスタイリング */
.alert-danger {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}
